$color-main: #2a73dc;
$color-base: #ffffff;
$color-style: #f9d310;
$color-text: #1d355e;
$shadow: rgba(148, 148, 177, 0.25) 0px 6px 12px -2px,
  rgba(135, 135, 135, 0.3) 0px 3px 7px -3px;

$shadow-btn: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 26px;
$text-4xl: 28px;

$fw-bold: 700;
$fw-light: 400;
$fw-semibold: 600;
$fw-lighter: 500;
